@import "other";
 
$testvar: #f00;

.test {
	color: $testvar;
} 

div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}

div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}

/**++dixbt0r++**/div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}/**--dixbt0r--**/

/**++dixbt0r++**/
div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}
/**--dixbt0r--**/

/**Begin dixbt0r**/
div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}
/**End dixbt0r**/

/**Begin dixbt0r**/
div#thing_t1_dixbt0r > div.entry .md:after{
	@extend .user-override-disclaimer;
	content: "another test";
}
/**End dixbt0r**/
